
Home {{isHome}}

<ul>
  {{#if isHome}}
  <li><a class="active" href="/">Home</a></li>
  {{else}}
  <li><a href="/">Home</a></li>
  {{/if}}

  {{#if isAbout}}
  <li><a class="active" href="/about">About</a></li>
  {{else}}
  <li><a href="/about">About</a></li>
  {{/if}}
</ul>