body {
  background-color: #000;
  /* backgroundColor: 'green' */
}

.text_lorem {
  font-weight: 600;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

#sign_in {
  color: blue;
  font-weight: 600;
}

.red {
  color: red;
}

.green {
  color: green;
}
