    <div class="menu">
      <h2 class="menu__title">{{title}}</h2>
      <ul class="menu_list">
        {{#each items}}
          <li class="manu_item">{{this}}</li>
        {{/each}}
      </ul>
    </div>