<<<<<<< HEAD
$body-color: blueviolet;

body {
  background-color: $body-color;
  min-width: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
=======
h1 {
  color: black;
  text-decoration: underline;
}

p {
  font-weight: 400;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
>>>>>>> 7536e6f910a012de42e149ddc29b71ed02985a3c
}
